/* CSS EXAMPLE */
*{
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_form, #register_form {
    max-width: 800px;
    width: 100%;
    padding: 80px;
}

#logout_form {
    max-width: 800px;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout_buttons {
    display: flex;
    flex-wrap: wrap;
}

.logout_button {
    margin: 10px;
    min-width: 150px;
}

